@font-face {
  font-family: "MotivaSansRegular";
  src: url("./motiva-sans-cufonfonts/MotivaSansRegular.woff.ttf");
}

@font-face {
  font-family: "MotivaSansMedium";
  src: url("./motiva-sans-cufonfonts//MotivaSansMedium.woff.ttf");
}
